/* hepl-web/hepl-web.github.io
 *
 * /sass/base/_links.scss - Base styles for links
 *
 * coded by leny@flatLand!
 * started at 18/09/2016
 */

a {
    &, &:link, &:visited {
        color: $linkColor;
        text-decoration: none;
        transition: color 0.25s ease-in-out;
    }
    &:hover {
        color: $hoverLinkColor;
    }
}
