/* hepl-web/hepl-web.github.io
 *
 * /sass/objects/_footer.scss - Non-cosmetic styles for footer
 *
 * coded by leny@flatLand!
 * started at 18/09/2016
 */

.footer {
    @include clearfix();
    &__title {
        display: none;
    }
    &__links, &__copy {
        width: 48%;
    }
    &__links {
        float: left;
    }
    &__copy {
        float: right;
        margin-left: 4%;
    }
}

.footer-links {
    &__separator {
        &::before {
            content: "•";
        }
    }
}
