/* hepl-web/hepl-web.github.io
 *
 * /sass/settings/_colors.scss - Colors
 *
 * coded by leny@flatLand!
 * started at 18/09/2016
 */

$textColor: #333;
$altTextColor: #999;

$linkColor: royalblue;
$hoverLinkColor: mediumblue;
